
ip routing

hostname {{ device.name }}
enable password DeviceAdmin

no ip route 172.20.20.1

{% if device.role in ['Edge', 'ISP', 'Internet', 'Transit'] %}
router bgp {{ bgp.AS }}
router-id {{ routerID.bgp }}

{% if device.role == 'Edge' %}
neighbor 192.168.200.21 default-originate always
{% endif %}
{% for neighbor in bgp.neighborship  %}
neighbor {{ neighbor.ip }} remote-as {{ neighbor.as }}
{% endfor %}

{% for advert in bgp.advertisement %}
network {{ advert.ip }}{{ advert.cidr }}
{% endfor %}
exit
{% endif %}


{% if device.role == 'Edge' %}
route-map Primary-Path
description {{primaryPath.description}}
set local-preference {{primaryPath.localPref}}
exit

route-map Secondary-Path
description {{secondaryPath.description}}
set as-path prepend {{ bgp.AS }} {{ bgp.AS }} {{ bgp.AS }} {{ bgp.AS }}
exit

router bgp {{ bgp.AS }}
neighbor {{ primaryPath.ip }} route-map Primary-Path in
neighbor {{ secondaryPath.ip }} route-map Secondary-Path out
exit
{% endif %}

{% if device.role in [ 'Transit', 'Site' ] %}
router ospf 1
router-id {{ routerID.ospf }}
auto-cost reference-bandwidth 1000
{% if device.role == 'Transit' %}
default-information originate always
exit
{% endif %}
{% endif %}


{% for interface in interfaces %}
interface Ethernet {{ interface.port }}
no shutdown
no switchport
description {{ interface.description }}
ip address {{ interface.ip }}{{ interface.cidr }}
{% if device.role in [ 'Transit', 'Site' ] %}
ip ospf area 0
exit
{% endif %}
{% endfor %}

interface vlan 1
no shutdown
no autostate
ip address {{ device.vlan1Ip }}{{ device.vlan1cidr }}
{% if device.role in [ 'Transit', 'Site' ] %}
ip ospf area 0
{% endif %}
exit

banner motd
------------------------ Authorized Access Only !!! -----------------------------
EOF

exit
