enable
configure teminal
ip routing

hostname {{ device.name }}
enable password DeviceAdmin

{% if device.role in ['Core', 'ISP', 'Internet', 'Reflector'] %}
router bgp {{ bgp.AS }}
router-id {{ routerID.bgp }}

{% for neighbor in bgp.neighborship  %}
neighbor {{ neighbor.ip }} remote-as {{ neighbor.as }}
{% if device.name == 'Core-Router' %}
neighbor 192.168.200.21 default-originate always
{% endif %}
{% endfor %}

{% for advert in bgp.advertisement %}
network {{ advert.ip }} mask {{ advert.mask }}
{% endfor %}
{% endif %}

{% if device.role == 'Core' %}
route-map Primary-Path
description {{primaryPath.description}}
set local-preferennce {{primaryPath.localPref}}
exit

route-map Secondary-Path
description {{secondaryPath.description}}
set as-path {{ bgp.AS }} {{ bgp.AS }} {{ bgp.AS }} {{ bgp.AS }}
exit

router bgp {{ bgp.AS }}
neighbor {{ primaryPath.ip }} route-map Primary-Path in
neighbor {{ secondaryPath.ip }} route-map Secondary-Path out
{% endif %}

{% if device.role in [ 'Reflector', 'Site' ] %}
router ospf 1
router-id {{ routerID.ospf }}
auto-cost reference-bandwidth 1000
ip ospf network point-to-point
{% if device.role == 'Reflector' %}
default-information originate always
exit
{% endif %}
{% endif %}


{% for interface in interfaces %}
interface Ehternet{{ interface.port }}
no shutdown
no switchport
description {{ interface.description }}
ip address {{ interface.ip }} {{ interface.mask }}
{% if device.role in [ 'Reflector', 'Site' ] %}
ip ospf area 0
exit
{% endif %}
{% endfor %}

interface vlan 1
no shut
ip address {{ device.vlan1Ip }} {{ device.vlan1Mask }}
exit

banner motd
------------------------ Authorized Access Only !!! -----------------------------EOF

exit
write memory
